.wrap {
  display: grid;
  margin: auto;
  width: 600px;
  padding: 50px;
  grid-template-areas: "sidebar ... content content";
}

.link {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
