body {
  background-image: url('./Media/wall4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrap {
  display: flex;
  flex-flow: column;
  margin: 10px;
  padding: 50px;
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1 rem;
  background-color: white;
  width: 100%;
  padding-left: 10px;
}

.icon {
  height: 50px;
  width: auto;
}

.menu {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
  color: #fff;
  width: 11.6rem;
  padding: .77rem 0;
  border-radius: 60px;
  background-color: #001e00;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  box-shadow: inset 0 0 1em, 0 0 1em olive;
}

.link:hover {
  cursor: pointer;
  opacity: .6;
}

.content {
  width: 50%;
  min-height: 55vh;
  padding: 20px;
  margin: 20px auto;
}

@media (max-width: 1080px) {
  .content {
    width: 100%;
    padding: 5px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 780px) {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
