.wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20;
  width: 500px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}

.preload {
  position: relative;
  width: 100%;
  height: 500px;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.repo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  font-size: 25px;
  font-weight: 300;
}

.image {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.repolist {
  list-style-type: none;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  background: grey;
}

.language {
  position: relative;
  min-width: 100px;
  padding-left: 20px;
}

.python:before, .js:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: 5px;
  height: 12px;
  width: 12px;
}

.python:before {
  background: yellow;
}

.js:before {
  background:red;
}