.text {
  text-align: center;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  border-top: 2px solid;
  padding-top: 10px;
}

.tabs {
  padding-top: 20px;
}

@media (max-width: 780px) {
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
