.field input:focus {
  outline: none;
}

@media (max-width: 1080px) {
  .field {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  .field {
    width: 75%;
    margin: 0 auto;
  }
}
