.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}

.icon {
  display: block;
  width: 15%;
  margin-right: 20px;
}

.link,
.phone,
.location {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 1080px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 780px) {
  .title {
    font-size: 20px;
  }

  .icon {
    width: 15%;
  }

  .link {
    font-size: 15px;
  }
}
