.list {
  list-style-type: none;
  text-align: left;
}

@media (max-width: 1080px) {
  .list {
    margin: 0 auto;
    width: 90%;
    margin-left: 0;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.space {
  height: 5px;
}
